<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyddns--dynamic dns made by python</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand" href="#">PyDDNS</h1>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li>
                <select onchange="javascript: window.location.href=this.value;" class="selectpicker  show-tick"
                        data-live-search="true" title="Choose a domain">
                    {% for domain in domains %}
                        <option {% if cur_domain==domain.domain_name %}selected{% endif %} class="dropdown-item"
                                value="/{{ domain.domain_name }}">{{ domain.domain_name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>

            </li>
        </ul>

        <form class="form-inline mt-2 mt-md-0" action="/add-domain" method="POST">
            <input type="text" name="domain_name" class="form-control-sm mr-sm-2" placeholder="domain name">
            <button type="submit" class="btn btn-sm btn-outline-success">add new domain</button>
        </form>
        <button type="button" class="btn btn-sm btn-outline-success ml-sm-2" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">add a record
        </button>
    </div>
</nav>

<div class="collapse" id="collapseExample">
    {#  <div class="card card-body">#}
    {##}
    {#  </div>#}
    <form method="post" action="/add-record">
        <table class="table">
{#            <tr>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td>IN</td>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td></td>#}
{#                <td></td>#}
{#            </tr>#}
            <tr>
                <td>



                </td>
                <td></td>
                <td></td>
                <td>IN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<table class="table">
    <thead class="table-dark">
    <tr>
        <td>主机记录</td>
        <td>TTL(s)</td>
        <td>Record Class</td>
        <td>记录类型(RT)</td>
        <td>记录值</td>
        <td>备注</td>
        <td>最后更新</td>
        <td>标记</td>
        <td>生效</td>
        <td>操作</td>
    </tr>
    </thead>
    {% for rr in rrs %}
        <tr>
            <td>{{ rr.name }} </td>
            <td>{{ rr.ttl }}</td>
            <td>{{ rr.record_class }}</td>
            <td>{{ rr.record_type }}</td>
            <td>{{ rr.record_data }}</td>
            <td>{{ rr.comment }}</td>
            <td>{{ rr.last_modify }}</td>
            <td>{{ rr.flag }}</td>
            <td>{{ rr.enable }}</td>
            <td>Delete|Edit</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>