<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyddns--dynamic dns made by python</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/static/jquery-editable-select.js"></script>
    <link href="/static/jquery-editable-select.css"
          rel="stylesheet">
    <style type="text/css">
        span.v_title{
            font-weight: bold;
            font-size: 1.1em;
        }
        span.v_tip{
            font-weight: 300;
            font-size: 0.7em;
            display: block;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand" href="#">PyDDNS</h1>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li>
                <select onchange="javascript: window.location.href=this.value;" class="selectpicker  show-tick"
                        data-live-search="true" title="Choose a domain">
                    {% for domain in domains %}
                        <option {% if cur_domain==domain.domain_name %}selected{% endif %} class="dropdown-item"
                                value="/{{ domain.domain_name }}">{{ domain.domain_name }}</option>
                    {% endfor %}
                </select>
            </li>
            <li>

            </li>
        </ul>

        <form class="form-inline mt-2 mt-md-0" action="/add-domain" method="POST">
            <input type="text" name="domain_name" class="form-control-sm mr-sm-2" placeholder="domain name">
            <button type="submit" class="btn btn-sm btn-outline-success">add new domain</button>
        </form>
        <button type="button" class="btn btn-sm btn-outline-success ml-sm-2" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">add a record
        </button>
    </div>
</nav>

<div class="collapse p-4" id="collapseExample">
    <form method="post" action="/add-record">
        <div class="form-group row">
            <label for="record_name" class="col-sm-1 col-form-label text-right">主机记录</label>
            <div class="col-sm-2">
{#                <select id="record_name">#}
{#                    <option value="abc">&lt;span class=&quot;v_title&quot;&gt;abc&lt;/span&gt;&lt;span class=&quot;v_tip&quot;&gt;二级域名abc.example.com&lt;/span&gt;</option>#}
{#                    <option value="@">&lt;span class=&quot;v_title&quot;&gt;@&lt;/span&gt;&lt;span class=&quot;v_tip&quot;&gt;直接解析example.com&lt;/span&gt;</option>#}
{#                    <option value="*">&lt;span class=&quot;v_title&quot;&gt;*&lt;/span&gt;&lt;span class=&quot;v_tip&quot;&gt;泛解析*.example.com&lt;/span&gt;</option>#}
{#                </select>#}
                {{ form.record_name }}
            </div>
            <label for="ttl" class="col-sm-1 col-form-label text-right">TTL（秒）</label>
            <div class="col-sm-2">
{#               <select id="ttl">#}
{#                    <option value="60">1分钟</option>#}
{#                    <option value="300">5分钟</option>#}
{#                    <option value="900">15分钟</option>#}
{#                    <option value="1800">30分钟</option>#}
{#                    <option value="3600">60分钟</option>#}
{#                </select>#}
                {{ form.ttl }}
            </div>
            <label for="record_class" class="col-sm-1 col-form-label text-right">记录类别</label>
            <div class="col-sm-2">
{#               <input disabled type="text" id="record_class" value="IN"/>#}
                {{ form.record_class }}
            </div>
            <label for="record_type" class="col-sm-1 col-form-label text-right">记录类型</label>
            <div class="col-sm-2">
{#               <select id="record_type">#}
{#                    <option value="A">A</option>#}
{#                    <option value="AAAA">AAAA</option>#}
{#                    <option value="CNAME">CNAME</option>#}
{#                    <option value="MX">MX</option>#}
{#                    <option value="TXT">TXT</option>#}
{#                    <option value="NS">NS</option>#}
{#                </select>#}
                {{ form.record_type }}
            </div>
        </div>
        <div class="form-group row">
            <label for="record_value" class="col-sm-1 col-form-label text-right">记录值</label>
            <div class="col-sm-2">
{#                <input type="text" name="record_value" id="record_value"/>#}
                {{ form.record_value }}
            </div>
            <label for="comment" class="col-sm-1 col-form-label text-right">备注</label>
            <div class="col-sm-2">
{#               <input id="comment" type="text" name="comment"/>#}
                {{ form.comment }}
            </div>
            <label for="flag" class="col-sm-1 col-form-label text-right">标记</label>
            <div class="col-sm-2">
{#               <select id="flag">#}
{#                   <option value="DEFAULT">默认</option>#}
{#                    <option value="DDNS">动态DNS</option>#}
{#                </select>#}
                {{ form.flag }}
            </div>
            <label for="is_enable" class="col-sm-1 col-form-label text-right">是否生效</label>
            <div class="col-sm-2">
{#               <select id="is_enable">#}
{#                    <option value="Y" selected>是</option>#}
{#                    <option value="N">否</option>#}
{#                </select>#}
                {{ form.is_enable }}
            </div>

        </div>
        <div class="form-group row">
            <input type="hidden" value="{{ cur_domain }}" name="domain_name"/>
            <div class="col-md-12"><button type="submit" class="btn btn-light float-right">确认添加</button></div>
        </div>
    </form>
</div>


<table class="table">
    <thead class="table-dark">
    <tr>
        <td>主机记录</td>
        <td>TTL(s)</td>
        <td>Record Class</td>
        <td>记录类型(RT)</td>
        <td>记录值</td>
        <td>备注</td>
        <td>最后更新</td>
        <td>标记</td>
        <td>生效</td>
        <td>操作</td>
    </tr>
    </thead>
    {% for rr in rrs %}
        <tr>
            <td>{{ rr.name }} </td>
            <td>{{ rr.ttl }}</td>
            <td>{{ rr.record_class }}</td>
            <td>{{ rr.record_type }}</td>
            <td>{{ rr.record_data }}</td>
            <td>{{ rr.comment }}</td>
            <td>{{ rr.last_modify }}</td>
            <td>{{ rr.flag }}</td>
            <td>{{ rr.enable }}</td>
            <td>Delete|Edit</td>
        </tr>
    {% endfor %}
</table>

<script type="text/javascript">
    $('#record_name').editableSelect({ filter: false });
    $('#ttl').editableSelect({ filter: false });
    $('#record_class').editableSelect({ filter: false });
    $('#record_class1').editableSelect({ filter: false });
    $('#record_type').editableSelect({ filter: false });
    $('#record_value').editableSelect({ filter: false });
    $('#comment').editableSelect({ filter: false });
    $('#flag').editableSelect({ filter: false });
    $('#is_enable').editableSelect({ filter: false });
</script>

</body>
</html>